/* Hero Section Customization */

#hero h1 {
    font-size: 4rem;
    font-weight: 700;
}
#hero p {
    font-size: 1.5rem;
}
#hero a {
    padding: 10px 30px;
    font-size: 1.2rem;
}

/* About Section */
#about img {
    border-radius:10px;
}

/* Menu Section */
#menu h2 {
    margin-bottom: 40px;
}

.card img {
    height: 300px;
    object-fit: cover;
}