/* Hero Section Customization */

#hero h1 {
    font-size: 4rem;
    font-weight: 700;
}
#hero p {
    font-size: 1.5rem;
}
#hero a {
    padding: 10px 30px;
    font-size: 1.2rem;
}

/* About Section */
#about{
   background-color: #fdf6ed;
}
#about img {
    border-radius:47%;
}

/* Menu Section */
#menu{
    background-color: #deb887;
}
#menu h2 {
    margin-bottom: 40px;
}

.card{
    background-color: #f8e9d6;
}

.card img {

     height: 350px;
    object-fit: cover;
}
/* contact Section */
#contact{
    background-color: #fdf6ed;
}