/*Nav section */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar {
    background-color: rgba(14, 37, 88, 0.9);
}


/* Hero Section Customization */
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero h1 {
    font-size: 4rem;
    font-weight: 700;
}
#hero p {
    font-size: 1.5rem;
}
#hero a {
    padding: 10px 30px;
    font-size: 1.2rem;
}
#hero {
    height: 100vh;
    background: url('hero-image.jpeg') no-repeat center center;
    background-size: cover;
}
#hero a:hover {
    background-color: #00f114;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/*  smaller screens */

@media (max-width: 768px) {
    #hero {
        background-position: top center;
        background-size: contain;
    }
}

@media (max-width: 576px) {
    #hero {
        height: 70vh; 
        background-size: cover; 
    }
}

/* About Section */

#about{
   background-color: #fdf6ed;
}
#about img {
    border-radius:47%;
}
@media (max-width: 768px) {
    #about p {
        font-size: 1rem;
    }
}


/* Menu Section */

#menu{
    background-color: #deb887;
}
#menu h2 {
    margin-bottom: 40px;
}

.card{
    background-color: #f8e9d6;
}

.card img {

     height: 350px;
    object-fit: cover;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(255, 223, 154, 0.685);
    transition: all 0.3s ease-in-out;
}

/* contact Section */

#contact{
    background-color: #fdf6ed;
}

/* Footer */

footer {
    
     background-color: #0e2558;
    color: white;
    padding: 20px 0;
     text-align: center;
       
}
footer .social-icons {
    margin-bottom: 10px;
}
footer p {
    margin-top: 10px;
}


/* Social Icons Hover Effect */

.social-icons a {
    font-size: 1.5rem; 
    transition: color 0.3s ease; 
}

.social-icons a:hover {
    color: #0bccee; 

}